/* @import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');
 */

h4, h1{
	display : inline;
}



.content{
	width : 1000px;
	height : 80%;
	margin : 0 auto;
	margin-top : 70px;
	text-align : center;
}

.login_label{
	display : inline;
	margin-left : 100px;
	float : left;
}

#form{
	width : 700px;
	margin-top : 100px;
	text-align : left;
	padding : 30px 0px 0px 260px;
	
}


#NoLogin_btn{
	margin-left : 200px;
	
}

.login_input{
	width : 400px;
	height : 50px;
	font-size : 1rem;
	margin : 2px auto;
	padding-left : 10px;
	border : 2px solid #737184;
	border-radius : 7px;
}

#login_btn{
	/* 위 오른쪽 아래 왼쪽 */
	margin : 10px auto;
	width : 400px;
}

#auto_login{
	float : left;
}
#auto_login_checkbox{
	margin : 5px 5px;
}
#login_sub_button{
	float : right;
}
.login_sub_button_label{
	font-size: 0.8rem;
}

#loginFailMsgInput{
	width : 400px;
	border : none;
	font-size : 0.8rem;
	color : red;
	
}

.footer{
	height : 10%;
	background : #f1f1f1;
}


