.content{
	width : 1000px;
	height : 3000px;
	margin : 0 auto;
	margin-top : 70px;
	text-align : center;
}

.product_table, .user_table{
	width : inherit;
	margin : 0 auto;
	margin-bottom : 70px;
	border : 2px solid;
	border-radius : 10px;
}

.picture{
	width : 100px;
	height : 150px;
}

.footer{
	height : 100px;
	background : #f1f1f1;
}


