.content{
	width : 1200px;
	height : 3000px;
	margin : 0 auto;
	margin-top : 70px;
	text-align : center;
}

form{
	width : inherit;
}

td{
	margin : 20px 0px;
}

h4, h5{
	display : inline;
}
#p_description_h{
	vertical-align: top;
}

input:not(.p_img_input, .header-left-search) {
	border : 1px solid;
	border-radius : 3px;
}
#form input, select, textarea{
	margin: 7px 5px;
	vertical-align: middle;
}

.product_table, .user_table, .add_product_table, .add_product_div{
	width : inherit;
	margin : 0 auto;
	margin-bottom : 70px;
	border : 2px solid;
	border-radius : 10px;
}

.add_product_div{
	
	height : 500px;
	padding: 50px 250px;
	text-align : left;
	
}
.color_array, .size_array, .count_array{
	display : inline;
	vertical-align: middle;
	margin : 2px;
	padding : 2px;
	border : 2px solid;
	border-radius : 10px;
	
}

.p_del_btn{

	margin : 0px;
	padding : 0px;
	vertical-align: middle;
	
}

.img{
	width : 100px;
	height : 150px;
}

textarea{
	width : 600px;
	height : 100px;
	border : 1px solid;
	resize : none;
}

.footer{
	height : 100px;
	background : #f1f1f1;
}


